@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  margin: 30px auto;
  min-height: 500px;
  overflow: auto;
  border: 1px solid steelblue;
  border-radius: 5px;
}

.emptymain {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftdiv {
  width: 70%;
}

.rightdiv {
  width: 30%;
  border-left: 1px solid steelblue;
}